/* font-family: 'Montserrat', sans-serif; */
/* #FC5F59 rojo */
/* #FCEDD7 beige */
/* #434343 negro */

* {
  font-family: 'Montserrat', sans-serif;
  color: #434343;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.top-bar {
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
}

.bottom-bar {
  box-shadow: 3px -4px 4px rgba(0, 0, 0, 0.09);
}

.top-bar, .bottom-bar {
  background-color: #FFFFFF;
}

.margin-fix {
  margin-bottom: 40px;
}

/* boostrap fake */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.align-content-center {
  align-content: center;
}

.align-items {
  align-items: center;
}

/* end boostrap fake */


/* Header */

.header {
  justify-content: space-around;
  align-items: center;
  width: 360px;
  height: 65px;
}

.user-profile {
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.name-app {
  font-size: 26px;
  color: #FC5F59;
}

.bold {
  font-weight: 800;
}

.light {
  font-weight: 400;
}

.search {
  width: 22px;
}

/* End Header */

/* Home */

.home-page {
  margin-top: 89px;
  display: flex;
  justify-content: center;
}

.cover-photo {
  width: 332px;
  margin-bottom: 22px;
}

.subtitle {
  font-size: 22px;
  justify-content: space-around;
  width: 332px;
  margin-bottom: 15px;
}

.subtitle-two {
  font-size: 22px;
  justify-content: space-around;
  width: 332px;
  margin-bottom: 24px;
}

.text-subtitle {
  width: 332px;
  margin-bottom: 20px;
}

.recomend-detail {
  margin-bottom: 16px;
}

.recomend-text {
  margin-bottom: 21px;
}

.square-img {
  width: 103px;
  height: 106px;
  margin-right: 14px;
}

.link {
  color: #FC5F59;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration-line: underline;
}

/* End Home */

/* Information */

.info-page {
  margin-top: 89px;
}

.button-large {
  width: 332px;
  height: 56px;
  font-size: 16px;
  background-color: #FC5F59;
  color: #F2F2F2;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

.button-large-outline {
  width: 332px;
  height: 56px;
  margin-bottom: 15px;
  background: transparent;
  border: 2px solid #FC5F59;
  border-radius: 5px;
}

/* End Information */

/* Bottom-menu */

.bottom-menu {
  display: flex;
  justify-content: space-around;
  width: 360px;
  height: 90px;
  margin-top: 9px;
}

.icon:active {
  color: #FC5F59;
}

.text-icon {
  font-weight: 500;
  font-size: 10px;
}

/* End bottom-menu */