/* font-family: 'Montserrat', sans-serif; */
/* #DB7563 rojo */
/* #FCEDD7 beige */
/* #434343 negro */

* {
  font-family: 'Montserrat', sans-serif;
  color: #434343;
}
/* boostrap fake */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.align-content-center {
  align-content: center;
}

/* end boostrap fake */


/* Header */

.header {
  justify-content: space-around;
  align-items: center;
  width: 360px;
}

.user-profile {
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.name-app {
  font-size: 26px;
  color: #DB7563;
}

.bold {
  font-weight: 800;
}

.light {
  font-weight: 500;
}

.search {
  width: 22px;
}

/* End Header */

/* Home */

.cover-photo {
  width: 360px;
  padding: 0 14px;
}

.home-muapp {
  align-items: center;
}

.subtitle {
  font-size: 22px;
  justify-content: space-around;
  width: 360px;
}

.text-subtitle{
  width: 360px;
}
/* End Home */